{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    <div class="header">
        <a href="/instructors/create" class="button">Novo</a>
        <form action="/instructors">
            <input 
                name="filter"
                type="text"
                placeholder="Nome ou acompanhamento"
                value="{{ filter }}"
            >
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <table width="100%">
        <thead>
            <tr>
                <th>Instrutores</th>
                <th>Acompanhamento</th>
                <th>Alunos</th>
                <th>Opção</th>
            </tr>
        </thead>
        <tbody>
            {% for instructor in instructors %}
                <tr>
                    
                    <td>
                        <span 
                            style="background-image: url({{ instructor.avatar_url }})"
                        >
                        </span>
                        {{ instructor.name }}</td>
                    <td><div>{{ instructor.services }}</div></td>
                    <td><div>{{ instructor.total_members }}</div></td>
                    <td>
                        <a href="/instructors/{{ instructor.id }}">Visualizar</a>
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>

    <div class="pagination"
        data-page={{ paginate.page }}
        data-total = {{ paginate.total }}
        data-filter = {{ filter }}
    >
    </div>
</div>

{% endblock content %}